DEVTEAM_PASSWORD=hier-devteam-passwort-eintragen
ACADEMICTEST_PASSWORD=hier-academictest-passwort-eintragen
SCHOOLACCOUNT_PASSWORD=hier-schoolaccount-passwort-eintragen
GITHUB_TOKEN=hier-github-token-eintragen
